.item-container{
    border: 1px solid blue;
    height: 250px;
    width: 300px;
}

.carouselitem-picture{

}


.carouselitem-picture img{
    width: 300px;
    height: 200px;
}


.carouselitem-btn {
    background-color: black;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  
  .carouselitem-btn:hover {
    opacity: 0.8;
  }