.navbar{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid red;

}


.navbar-content-left{
    display: flex;
    
    border: 1px solid blue;
    
}

.navbar-logo{
    
    align-items: center;
    border: 1px solid green;
}

.navbar-menu{
    border: 1px solid brown;
}

.navbar-menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-content-right{
    display: flex;
    flex-direction: row;
    
    border: 1px solid cyan;

}