.mainscreen-container {
  height: 100vh;

}

.mainscreen-picture-container {
  background-image: url('../../images/mainpage_photo.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}
